streamlit
numpy==1.23.5           # Specify a stable version of numpy
pandas==1.5.3           # Match compatible version for numpy
scikit-learn==1.2.2     # Match compatible version for numpy
tensorflow==2.10.0      # Or other compatible version with numpy 1.23
joblib
matplotlib


